# Core
ccxt
python-binance
pandas
numpy
requests
ta
tabulate

# ML
scikit-learn
lightgbm
joblib

# Visualization
matplotlib

# Telegram Bot
python-telegram-bot==13.15

# Time & JSON handling
python-dateutil
